:root {
    --background: #181818;
    --text: #fff;
    --accent: #00a7b5;
    --darkbg: #07272d;
    --warn: #d20f39;
}

body {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    background: var(--background);
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    padding: 0px;
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
    margin: 0;
    color: var(--accent);
    font-weight: 700;
}

.warning-message p {
    background: var(--warn);
    border: 4px solid var(--warn);
    border-radius: 6px;
    margin: 10px;
    padding: 12px;
    font-size: 1.2em;
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
    color: var(--text);
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group input {
    flex: 1;
}

.input-group button {
    margin: 0px;
    margin-left: 10px;
    width: auto;
}


input {
    background: var(--darkbg);
    border: 2px solid var(--accent);
    border-radius: 6px;
    margin: 5px;
    padding: 10px;
    width: 400px;
    text-align: center;
    color: var(--text);
}

button {
    margin-top: 5px;
    padding: 10px;
    border: 2px solid var(--accent);
    background: var(--darkbg);
    color: var(--text);
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    width: 225px;
}

button:hover {
    background: var(--accent);
    border: 2px solid var(--darkbg);
    color: var(--darkbg);
}

.message-box {
    margin-top: 20px;
    margin-bottom: 0;
    padding: 10px;
    border: 2px solid var(--accent);
    border-radius: 6px;
    height: 150px;
    overflow-y: scroll;
    background: var(--darkbg);
    color: var(--text);
    white-space: pre-wrap;
}

p {
    margin-top: 20px;
    text-align: center;
    color: var(--text);
}
